{% load staticfiles %}


<html ng-app="tutorialApp">
<head>
    <meta charset="utf8"/>
    <title>AngularJS Tutorial</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="{% static 'djangular/js/django-angular.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'pizza/js/app.js' %}"></script>
</head>
<body>

<input type="text" ng-model="search">


<table class="table" ng-controller="ArticlesCtrl">
{% verbatim %}
  <tr ng-repeat="article in articles | filter:search">
    <td>{{article.id}}</td>
    <td>{{article.name}}</td>
    <td>{{article.price}}</td>
  </tr>
  {% endverbatim %}
</table>

{% verbatim %}
<p ng-show="search">Du suchst gerade nach: {{ search }}</p>
{% endverbatim %}

</body>
</html>